@import '../../scss/variables';


.libs-headers{
    background-color: $ligth-black;
    box-shadow: 2px 2px 5px $semi-light-black;
	-webkit-box-shadow: 2px 2px 5px $semi-light-black;
	-moz-box-shadow: 2px 2px 5px $semi-light-black;
}

.perfil-image{
    border-radius: 50%;
    height: 80%;
    width: 4%;
    margin-left: 5px;
}