
<h1>Excel to JSON</h1>

<!-- <md-card class="configuration-card">
	<md-card-header>
		<md-card-title>Upload file</md-card-title>
	</md-card-header>

	<md-card-content class="row">
		<div class="col-md-6">
			<div class="title-source-container">
				<md-radio-group class="title-source-group" [(ngModel)]="propertiessource">
					<md-radio-button class="title-source-radio" [value]="'D'" color="primary">
						Properties from titles
					</md-radio-button>
					<md-radio-button class="title-source-radio" [value]="'C'" color="primary">
						Custom properties
					</md-radio-button>
				</md-radio-group>
			</div>

			<form [formGroup]="settingsForm" (ngSubmit)="addSetting()" class="settings-container" *ngIf="propertiessource == 'C'">

				<md-form-field class="input-settings">
					<input mdInput placeholder="Property Name" formControlName="propertyName">
				</md-form-field>

				<md-form-field class="input-settings" id="column-number-input">
					<input mdInput placeholder="Column number" formControlName="columnNumber">
				</md-form-field>

				<button md-mini-fab color="primary"> 
						<md-icon class="md-24" aria-label="Example icon-button with a heart icon">Add</md-icon>
				</button>

				<div class="saved-settings-container" *ngIf="settings.length > 0">
					<md-list>
						<h3 md-subheader>Properties</h3>
						<md-list-item *ngFor="let setting of settings">
							<h6 md-line>Property: {{setting.propertyName}}</h6>
							<p md-line>Column: {{ setting.columnNumber }} </p>
						</md-list-item>
					</md-list>
				</div>
			</form>
		</div>

		<div class="col-md-6">
			<form action="#" class="dropzone utils-dropzone" dropzone (fileLoaded)="onFileLoaded($event)">
				<div class="fallback">
					<input name="file" type="file" multiple #file/>
				</div>
			</form>
		</div>

	</md-card-content>
</md-card>


<md-card class="result-card" *ngIf="result">
	<md-card-header>
		<h4> Results</h4>
	</md-card-header>

	<md-card-content class="result-card-content">
		<p>
			{{ result | json}}
		</p>
	</md-card-content>

	<md-card-actions>
		<a class="link-download" md-raised-button color="primary" (click)="downloadJSON(btngetjson)" #btngetjson>Get json</a>
	</md-card-actions>
</md-card> -->